body {
  background-color: #eee;
  overflow: hidden;

  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

#main-container {
  background-color: rgb(41, 108, 65);
}

#main-container:not(.impact-done) {
  cursor: none;
}

#main-container.impact-done {
  cursor: default;
}

.target {
  position: absolute;
  background-color: rgba(222, 14, 14, 0.5);
  border-radius: 300px;
  border: 2px solid rgb(133, 0, 0);
  z-index: 1;
  box-shadow: #3b0202 12px -9px 20px 5px;
}

.crater {
  position: absolute;
  background-color: rgb(14 0 0 / 81%);
  border: 2px solid #ff7a3161;
  border-radius: 300px;
  z-index: 2;

  box-shadow: inset black -8px 12px 20px 9px, #552d09c7 10px -8px 20px 30px;
}

.road {
  position: absolute;
  background-color: gray;
}

.road.horizontal::before {
  content: '.';
  display: block;
  color: gray;
  width: 100%;
  margin-top: 14px;
  border-top: 2px dashed white;
}

.road.vertical::before {
  content: '.';
  display: block;
  color: gray;
  height: 100%;
  margin-left: 14px;
  border-left: 2px dashed white;
}

.house {
  position: absolute;
  background: rgb(46,4,4);
  background: linear-gradient(90deg, rgba(46,4,4,1) 0%, rgba(110,8,8,1) 50%, rgba(46,4,4,1) 100%);
  width: 40px;
  height: 40px;
  box-shadow: black -3px 2px 4px 1px;
}

.person {
  position: absolute;
  background-color: #55559c;
  border: 2px solid #20203c;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  box-shadow: #00000052 -3px 3px 10px 1px;

  transition-property: top, left;
  transition-duration: 0.85s;
}

#splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  cursor: pointer;
  z-index: 3;
}

#splash .loader-msg {
  position: absolute;
  top: 350px;
  left: 600px;
  font-size: 20px;
}

#splash .title {
  position: absolute;
  top: 300px;
  left: 500px;
  font-size: 90px;
}

#splash .subtitle-1 {
  position: absolute;
  top: 140px;
  left: 505px;
  font-size: 60px;
  z-index: 5;
}

#splash .subtitle-2 {
  position: absolute;
  top: 210px;
  left: 530px;
  font-size: 60px;
  z-index: 5;
}

#splash .subtitle-3 {
  position: absolute;
  font-size: 60px;
  top: 420px;
  left: 200px;
}

#splash .subtitle-4 {
  position: absolute;
  top: 550px;
  left: 730px;
  font-size: 50px;
  transform: rotate(335deg);
}

#splash .flames {
  position: absolute;
  top: 105px;
  left: 490px;
  width: 420px;
  height: 260px;
  opacity: 0.4;
  /* TODO: fix sizing rules on other screens,
     for now, this is handcrafted to my 1.5 DPI scaling... */
}

.end-msg {
  position: absolute;
  width: 500px;
  height: 350px;
  top: 200px;
  left: 350px;
  border-radius: 5px;
  font-size: 32px;
  background-color: #d6b088f5;
  z-index: 10;
  transform: skew(16deg, 355deg);
}

.end-msg .header {
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
}

.end-msg .headline {
  padding: 10px;
}

.end-msg .body {
  font-size: 24px;
  padding: 10px;
}

.end-msg .button {
  position: absolute;
  right: 0;
  bottom: 50px;
  padding: 15px;
  cursor: pointer;
}

.end-msg .button:hover {
  color: white;
  background-color: black;
}

.end-msg .bottom {
  position: absolute;
  bottom: 0;
  padding: 5px;
}
