body {
  background-color: #eee;
  overflow: hidden;
}

#main-container {
  background-color: rgb(41, 108, 65);
}

.road {
  position: absolute;
  background-color: gray;
}

.house {
  position: absolute;
  background-color: brown;
  width: 40px;
  height: 40px;
}

.person {
  position: absolute;
  background-color: blue;
  width: 10px;
  height: 10px;
  border-radius: 10px;

  transition-property: top left;
  transition-duration: 0.9s;
}
