body {
  background-color: #eee;
  overflow: hidden;
}

#main-container {
  background-color: rgb(41, 108, 65);
}

#main-container:not(.impact-done) {
  cursor: none;
}

#main-container.impact-done {
  cursor: default;
}

.target {
  position: absolute;
  background-color: rgba(222, 14, 14, 0.5);
  border-radius: 300px;
  border: 2px solid rgb(133, 0, 0);
  z-index: 1;
  box-shadow: #3b0202 12px -9px 20px 5px;
}

.crater {
  position: absolute;
  background-color: rgb(14 0 0 / 81%);
  border: 2px solid #ff7a3161;
  border-radius: 300px;
  z-index: 2;

  box-shadow: inset black -8px 12px 20px 9px, #552d09c7 10px -8px 20px 30px;
}

.road {
  position: absolute;
  background-color: gray;
}

.house {
  position: absolute;
  background-color: brown;
  width: 40px;
  height: 40px;
}

.person {
  position: absolute;
  background-color: blue;
  width: 10px;
  height: 10px;
  border-radius: 10px;

  transition-property: top, left;
  transition-duration: 0.9s;
}
